<template>
  <h1>Vue Composition API - Part 2</h1><hr>
  <div v-if="posts.length">
    <PostList :posts = "posts" /> <br><br>
    <button @click="clearPosts">Clear All</button>
  </div>
  <div v-else>Loading</div>

  <div v-if="err">
      <br><br>
      <h2>{{ err }}</h2>
      <br><br>
  </div>

  
  
</template>

<script>
import getPosts from "../composables/getPosts";
import PostList from '../components/PostList.vue';

export default {
    components: { PostList },

    setup(){
        
        console.log(getPosts());
        const {posts, err, loadData} = getPosts()

        loadData()

        const clearPosts = () => {
            posts.value = []
        }

        return { posts, clearPosts, err }
    }
}
</script>

<style>

</style>