<template>
  <div class="home">
    <h1>{{ header }}</h1><hr>
  </div>
  <input type="text" v-model="searchText">
  <p>Your entered search text is: {{searchText}}</p>
  <button @click="clear">Clear</button>
  <h3>Selected Fruits</h3>
  <p v-for="item in matchedItems" :key="item"> {{item}}</p>
</template>

<script>
import { ref } from '@vue/reactivity'
import { computed, watch, watchEffect } from '@vue/runtime-core'
// @ is an alias to /src

export default {
  name: 'Part1',
  components: {},

  setup(){
    let header = "Vue Composition API"
    const searchText = ref("")

    const clear = () => {
      searchText.value = ""
    }

    watch(searchText, ()=>{
      console.log("Watch: Search text changed.");
    })

    watchEffect(() => {
      console.log("WachEffect: Entered search text is: ",searchText.value);
    })

    const items = ref(['Apple', 'Mango', 'Grape', 'Pineapple', 'Watermelon', 'Papaya', 'Banana', 'Berry'])

    const matchedItems = computed(() => {
      return items.value.filter((item) => item.includes(searchText.value))
    })

    return {searchText, header, clear, matchedItems}
  }
}
</script>
