<template>
    <h4>{{post.title}}</h4>
    <p>{{snippet}}</p>
</template>

<script>

export default {
    props: ["post"],
    setup(props){
        const snippet = props.post.description.substr(0,150) + '....'

        return { snippet }
    }

}
</script>

<style>

</style>