<template>
  <div v-for="post in posts" :key="post.id">
    <Post :post = "post" />
    <button @click="removePost">Remove</button>
  </div>
</template>

<script>
import { onMounted, onUnmounted, onUpdated } from '@vue/runtime-core'
import Post from './Post.vue';
export default {
    props: ["posts"],
    components: { Post },

    setup(props){
        const removePost = () => {
            props.posts.pop()
        }

        onMounted(() => {
            console.log("Post component mounted");
        })

        onUpdated(() => {
            console.log("Post component updated");
        })

        onUnmounted(() => {
            console.log("PostList component unmounted");
        })

        return { removePost }
    }

}
</script>

<style>

</style>